.container {
    background-color: white;
    padding: 20px;
}

.text-buscar {
    padding-left: 10px;
    border-radius: 6px;
    border-color: #dddddd;
    height: 30px;
}

.element-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

select {
    text-align: center;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    border-color: #dddddd;
}

.add-button {
    padding: 15px;
    border: none;
    background-color: #F9DE4B;
    color: #1A2A5C;
}